<section style="background-color: white;">
  <mat-divider></mat-divider>

  <br>

  <mat-grid-list
    [cols]="(isHandset$ | async) ? '1' : '2'"
    [style.background]="'white'"
    rowHeight="3rem"
    >
    <mat-grid-tile [rowspan]="(isHandset$ | async) ? '2' : '1'">
      <div style="list-style: none; font-size: 1rem; text-align: center; line-height: 1.8;">
        <a class="inline" [routerLink]="['/what-we-do']"> What we do </a>
        <a class="inline" [routerLink]="['/partners']"> Our partners</a>
        <a class="inline" [routerLink]="['/solutions']"> Solutions</a>
        <a class="inline" [routerLink]="['/insights']"> Insights</a>
        <a class="inline" [routerLink]="['/about']"> About</a>
        <a class="inline" [routerLink]="['/contact']"> Contact</a>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-instagram"></a>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="(isHandset$ | async) ? '1' : '2'">
      <p style="font-size: 0.8rem;">
        <a
          [routerLink]="['/privacy']"
          routerLinkActive="router-link-active"
          >
          Privacy Policy
        </a>
        &nbsp; | © 2020 Integriert, Inc.
      </p>
    </mat-grid-tile>
  </mat-grid-list>
</section>
