<div class="section">
  <!-- ABOUT  -->
  <h2 style="text-align: center;">About</h2>

  <p style="text-align: center;">
    Integriert is the recognized leader in small+ and medium enterprises market for providing an outstanding lean and digital enterprise resource management solutions for them to grow rapidly
  </p>

  <p style="text-align: center;">
    The core team has combined experience of 25+ SAP end to end global deployments in Financials, Logistics, Supply Chain and Analytics in varied industrial domains during the last 15+ years
  </p>

  <!-- TEAM  -->
  <h2 style="text-align: center;">The Integriert Team</h2>


</div>
