.sidenav-container {
  height: 100%;
}

.sidenav {
  /* width: 275px; */
  width: 275px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

.sidenav-link{
  height: 60px !important;
  font-size: 18px;
}

mat-divider {
  width: 90%;
  margin: auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: #000000;
  text-decoration: none;
}

.branding{
  color: black !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.branding img{
  height: 40px;
}

mat-toolbar {
  background-color: #FFFFFF !important;
}

.tall-nav{
  height: 100px;
}

.branding-mobile{
  padding-top: 15px;
  height: 35px !important;
}

.burger{
  color: #000000;
}
