.section {
  width: 100%;
}


.section:nth-child(even){
  background-color: white;
}

.section:nth-child(odd){
  background-color: whitesmoke;
}

.container{
  background-color: white;
}

.margin {
  margin-left: 10px;
  margin-right: 10px;
}
