<div class="container">
  <div class="section">
    Banner & Tagline
  </div>

  <div class="section">
    <h2>What we do</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem ipsa consequatur at vero aperiam quo ipsum qui? Ipsam quis eos aspernatur quaerat dolor dolorem, id error minima quisquam optio expedita!</p>
    <button>Learn More</button>
  </div>

  <div class="section">
    <h2>Card 1</h2>
    <h2>Card 2</h2>
    <h2>Card 3</h2>
    <h2>Card 4</h2>
    <h2>Card 5</h2>
  </div>

  <div class="section">
    <h2>Get In Touch</h2>
  </div>
</div>
