<div class="container">
  <div>
    <app-banner></app-banner>
  </div>


  <div class="section">
    <h2>What we do</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem vero beatae in a minus repellendus qui aliquid itaque corrupti obcaecati veniam praesentium magni, temporibus facere, deleniti error quibusdam quos, quod magnam. Nulla iste at, natus cumque a in nemo quia non quam sunt modi et debitis incidunt dolorum saepe sint.
    </p>
    <button mat-raised-button class="yellow">Learn More</button>
  </div>

  <div class="section">
    <h2>Card 1</h2>
    <h2>Card 2</h2>
    <h2>Card 3</h2>
    <h2>Card 4</h2>
    <h2>Card 5</h2>
  </div>

  <div class="section">
    <h2>Get In Touch With Us</h2>
  </div>
</div>
