.section {
  width: calc(100vw - 20px);
  padding-left: 10px;
  padding-right: 10px;
}


.section:nth-child(even){
  background-color: white;
}

.section:nth-child(odd){
  background-color: whitesmoke;
}

.container{
  background-color: white;
}

.margin {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

p {
  line-height: 1.5em;
  text-align: left;
}

h2 {
  /* color: #FAB803; */
  color: #0074C8;
  font-family: "Open Sans";
}
