.section:nth-child(even){
  background-color: white;
}

.section:nth-child(odd){
  background-color: whitesmoke;
}

.container{
  background-color: white;
}

.margin {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

p {
  line-height: 1.5em;
  text-align: left;
}
